:root{
    --height-offer2: 7rem;
}
@media (min-width: 576px)
{
    --height-offer2: 9rem;
}
.offer {
    border-radius: 1rem;
    max-height: var(--height-offer2);
    min-height: var(--height-offer2);
    height: var(--height-offer2);
    hyphens: auto;
}
.offer td{
    height: var(--height-offer2);
}
.offer-text{
    max-height: 4rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0.5rem;
}
@media (min-width: 576px)
{
    .offer-text{
        max-height: 8rem;
    }
    :root{
        --height-offer2: 10rem;
    }
}