:root{
    --bg-color-whiteish: rgb(248, 248, 248);
    --bg-color-grayish: rgb(239, 239, 239);
    --fs-normal: 10px;
    --fs-medium: 13px;
    --fs-medium-big: 16px;
    --fs-big: 20px;
    --fs-header: 25px;
}
@media (min-width: 576px)
{
    :root{
        --fs-normal: 12px;
        --fs-medium: 15px;
        --fs-medium-big: 18px;
        --fs-big: 23px;
        --fs-header: 28px;
    }
    .gray-bg{
        border-radius: 20px;
    }
}
@media (min-width: 768px)
{
    :root{
        --fs-normal: 14px;
        --fs-medium: 17px;
        --fs-medium-big: 20px;
        --fs-big: 26px;
        --fs-header: 35px;
    }
}
@media (min-width: 992px)
{
    :root{
        --fs-normal: 16px;
        --fs-medium: 20px;
        --fs-medium-big: 23px;
        --fs-big: 30px;
        --fs-header: 40px;
    }
}


.gray-bg{
    background-color: var(--bg-color-whiteish);
    margin-top: 1.5rem;
    padding: 1rem;
}
.text-header{
    font-size: var(--fs-header)
}
.text-normal{
    font-size: var(--fs-normal);
}
.text-medium{
    font-size: var(--fs-medium);

}
.text-medium-big{
    font-size: var(--fs-medium-big);
}
.text-big{
    font-size: var(--fs-big);
}
.bg-whiteish{
    background-color: var(--bg-color-whiteish);
}
body{
    padding-top: 60px;
    background-color: var(--bg-color-grayish);
    width: 100vw;
    margin-bottom: 5rem;
}
body::-webkit-scrollbar {
    display: none;
}
.full-width{
    min-width: 100%;
}

.z-index-1{
    z-index: -100;
}
.z-index-2{
    z-index: -10;
}
.z-index-3{
    z-index: 1;
}
.z-index-4{
    z-index: 10;
}
.position-relative{
    position: relative;
}
.star-button{
    margin-left: 0.5rem;
    padding-top: 3px;
    padding-bottom: 5px;
}
.star-button img{
    max-height: 1.3rem;
    background-image: url("../Assets/start.png");
    filter: invert(36%) sepia(45%) saturate(481%) hue-rotate(82deg) brightness(89%) contrast(85%);
}
.star-button:hover img{
    filter: invert(100%) sepia(5%) saturate(21%) hue-rotate(220deg) brightness(107%) contrast(105%);
}
.company-logo{
    height: 7rem;
    width: auto;
}
@media (min-width: 576px)
{
    .company-logo{
        height: 8rem;
        width: auto;
    }
}