body::-webkit-scrollbar {
    display: none;
}

.abgeschrägtes-div {
    height: min-content;
    min-height: calc(100vh - 60px);
    position: absolute;
    justify-self: end;
    background: linear-gradient(to right, rgb(182, 209, 227), rgba(134, 181, 215, 0.23));
    width: 100%;
}
#container{
    height: min-content;
    min-height: calc(100vh - 60px)!important;
}
.fit-content{
    height: fit-content;
}
.big-font-start{
    padding-left: 1em;
    padding-right: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2rem;
    letter-spacing: 0.4rem;
    text-shadow: rgba(0, 0, 0, 0.2) 5px 5px 3px;
}

#search-box{
    min-height: 375px;
    border-radius: 40px;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.43) 3px 5px 10px 3px;
}
.submit{
    min-width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
}
.submit img{
    margin-left: 0.5rem;
    margin-bottom: 0.1rem;
    max-width: 15px;
    max-height: 15px;
    transition: filter .15s ease-in-out;
}
.submit:hover img{
    filter: grayscale(1) invert(1);
}
.container{
    padding-top: 0.6rem;
    padding-bottom: 1rem;
}
.description{
    font-size: var(--fs-normal)
}
.content{
    font-size: var(--fs-normal)
}

@media (min-width: 576px)
{
    .content{
        font-size: 14px;
    }
    .big-font-start{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .submit{
        font-size: 20px;
    }
    .description{
        font-size: 14px;
    }
    .submit img {
     max-width: 20px;
        max-height: 20px;
    }
}
@media (min-width: 800px)
{
    .big-font-start{
        font-size: 2rem;
        line-height: 3.5rem;
    }
    .content{
        font-size: 18px;
    }
    .submit{
        font-size: 25px;
    }
    .description{
        font-size: 18px;
    }
    .submit img {
        max-width: 25px;
        max-height: 25px;
    }
    #search-box{
        min-height: 450px;
    }
}
@media (min-width: 1200px)
{
    .abgeschrägtes-div {

        clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
        width: 70%
    }
    .big-font-start{
        line-height: 5.5rem;
        max-width: 80%;
        font-size: 2.4rem;
        letter-spacing: 0.5rem;
        margin: 0 3rem 3rem 0;
    }
    .fit-content{
        min-height: calc(100vh - 60px);
    }
    #search-box{
        margin-left: 2rem;
    }
    .submit{
        font-size: 2rem;
        height: 4.5rem
    }
}
@media (min-width: 1415px) {
    .big-font-start{
        font-size: 2.8rem;
        line-height: 5.8rem;
    }
}
@media (min-width: 1700px)
{
    .big-font-start{
        font-size: 3.3rem;
        line-height: 6.2rem;
    }
}
@media (min-width: 2000px)
{
    .big-font-start{
        font-size: 4rem;
        line-height: 7rem;
    }
}
@media (min-width: 2300px)
{
    .big-font-start{
        font-size: 4.5rem;
        line-height: 7.5rem;
    }
    #search-box {
        min-height: 600px;
    }
    .content{
        font-size: 30px;
    }
    .submit{
        font-size: 2.5rem;
        height: 5rem;
    }
    .description{
        font-size: 28px;
    }
    .submit img {
        max-width: 35px;
        max-height: 35px;
    }
}