:root{
    --height-offer: 8.5rem;
}

.no-background-img{
    background-image: none;
}
#anzeige-angebote-stufen{
    padding-left: 0.5rem;
}


#navbarTogglerDemo01{
    padding: 0.5rem 0 0.5rem 0;
    margin: 0.8rem 0.2rem 0 0.2rem;
    border-radius: 20px;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}
#navbarTogglerDemo01 .nav-item{
    margin: 0.2rem 0 0.2rem 0!important;
}
/* styling for offers */

.offer {
    overflow: hidden;
    border-radius: 1rem;
    max-height: var(--height-offer);
    min-height: var(--height-offer);
    hyphens: auto;
}
.offer td{
    max-height: var(--height-offer);
}

.company-name{
    color: rgba(0, 0, 0, 0.65);
    font-weight: bold;
    margin-bottom: 0.2rem;
}
.offer-text{
    max-height: 3.8rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0.5rem;
}
.criteria-cont{
    max-width: 0;
    max-height: 0;
    display: none;
}
.criteria-cont ul{
    margin: 0;
}
.criteria-cont  .criteria{
    font-size: 0;
    max-height: 0;
    max-width: 0;
    display: none;
}
.star-button{
    margin-left: 0;
    position: absolute;
    top: 10px;
    right: 25px;
    max-height: 1.7rem;
    max-width: 1.7rem;
    padding: 0.2rem;
}
.star-button img{
    margin-bottom: 1rem;
}
@media (min-width: 576px)
{
    :root{
        --height-offer: 11rem;
    }
    .star-button{
        right: 15px;
    }
    .offer-text{
        max-height: 5.5rem;
    }

    .criteria-cont{
        max-width: 100%;
        max-height: var(--height-offer);
    }
    .criteria-cont ul{
        margin: 0;
        padding: 0;
        list-style-type: disc;
    }
    .criteria-cont  .criteria{
        font-size: var(--fs-normal);
        max-height: 100%;
        max-width: 100%;
        display: list-item;
        margin: 0.5rem 0 0.5rem 0;
    }
}
@media (min-width: 768px)
{
    #navbarTogglerDemo01{
        border-width: 0;

    }
}
@media(min-width: 992px)
{
    .offer-text{
        max-height: 4.5rem;
    }
}
@media (min-width: 1200px) {
    .star-button{
        min-width: 2rem;
        min-height: 2rem;
        padding: 0;
    }
    .star-button img{
        margin-bottom: 0.3rem;
        padding: 0;
    }

}